body {
  margin: 0;
}

/* Sections */
section {
  padding: 3em 0;
  max-width: 48em;
  margin: 0 auto;
}

/* En-tête */
header {
  padding: 5em 0;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1541816139614-b1c0b6a13f5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  color: #eee;
}

/* Navbar */
nav {
  background: #346;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  display: inline-block;
  padding: 1em;
  color: #ddf;
  text-decoration: none;
}

nav ul li a:hover {
  color: #fff;
  background: #235;
}

/* Cards */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 1.5em;
  padding: 1em;
  box-sizing: border-box;
}

@media screen and (min-width: 480px) and (max-width: 991px) {
  .card {
    width: 47%;
  }
}

@media screen and (min-width: 992px) {
  .card {
    width: 31.3%;
  }
}

@media screen and (max-width: 50em) {
  section {
    margin: 0 1em;
  }
}